*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color:#EABFCB;
    text-align: center;
}
.container{
    height: 70vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #00ee73;
    background-color: rgb(11, 11, 253);
}
#reset-btn{
    background-color: #00ee73;
    padding: 2vmin;
    width: 20vmin;
    font-size: 2vmin;
    border-radius: 1rem;
    font-weight: bold;
}

#reset-btn:hover{
    background-color: rgb(127, 156, 156);
}
#new-btn{
    background-color: #00ee73;
    padding: 2vmin;
    width: 20vmin;
    font-size: 2vmin;
    border-radius: 1rem;
    font-weight: bold;
}
#new-btn:hover{
    background-color: rgb(127, 156, 156);
}

#msg{
    color: #000000;
    font-size: 8vmin;
}
.hide{
    display: none;
}